nav{
    height: 50px;
    position: sticky;
    box-shadow: -4px -4px 13px 0px #998a8ab3;
    z-index:10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
nav > div {
    display: flex;
    align-items: center;
}
nav img:not(.youtube) {
    max-height: 30px;
    cursor: pointer;

}
nav .youtube{
    max-height: 50px;
    cursor: pointer;

}
nav input{
    border: none ;
    outline: none;
}
nav input, nav input::placeholder{
    color: #5a5a5a;
}
nav .middle{
    border-radius: 25px;
    border: 1px solid #ceb5b5;
    min-width: 300px;
    padding: 5px 25px;
   
    
}
nav .middle img {
    margin-left: auto;
    
}
nav .right{
    display: flex;
    gap: 10px;
}
nav .right :last-child{
    border-radius: 50%;
}

@media  (max-width: 992px) {
    nav .middle{
        max-width: 200px;
        min-width: 200px;
    }
    nav input{
        width: 120px;
    }
}

@media (max-width: 767px) {
    nav input{
        display: none;
    }
    nav .middle{
        max-width: 50px;
        min-width: 50px;
        border: none;
        flex-shrink: 3;
        padding: 0;
        border-radius: 0;
    }
    nav .middle img{
        margin: auto;
    }
    nav .right,.left{
        flex-grow: 2;
    }
    nav .right{
        justify-content: right;
    }
    
}